<div class="container">
  <div class="header">
    <!--BANNER AREA-->
    <div
      class="header__banner"
      style="
        background-image: url('https://lh4.googleusercontent.com/lxqs15jK_ca6andaKan0g0tDwunInLB9jrye3_UtdZ3GCGt13mYHQ7Rrsko49NHF6NPlvNHQVpZfdt4=s1920');
        background-position: 50% calc(50% + 100px);
      "
    >
      <h2>Julia i Paweł</h2>
      <div class="header__buttons">
        <button class="play-button">
          <mat-icon>arrow_right</mat-icon>
          <span>Play</span>
        </button>

        <button class="more-button">
          <mat-icon>info</mat-icon>
          <span>More Info</span>
        </button>
      </div>
    </div>
    <!--BANNER ENDS HERE-->

    <!--MAIN AREA-->
    <div
      class="header__main"
      id="stickyHeader"
      [class.sticky]="sticky"
      #stickHeader
    >
      <div class="header__left">
        <a routerLink="/">
          <img src="assets/netflix.svg" alt="logo" />
        </a>
        <ul>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">TV Shows</a></li>
          <li><a href="#">Movies</a></li>
          <li><a href="#">Latest</a></li>
          <li><a href="#">My List</a></li>
        </ul>
      </div>

      <div class="header__right">
        <ul>
          <li>
            <a href="#"><mat-icon>search</mat-icon></a>
          </li>
          <li><a href="#">Children</a></li>
          <li>
            <a href="#"><mat-icon>card_giftcard</mat-icon></a>
          </li>
          <li>
            <a href="#"><mat-icon>notifications</mat-icon></a>
          </li>
          <li>
            <img
              src="https://lh4.googleusercontent.com/o9kuC6BHyklswYO0GbdZHWB8pZ0h_lwtNOhsIpe08B-P4jBG1qYaMvWwrCdYXsboOIJx5qI7h1VfCxA=s50"
              alt="avatar"
            />
          </li>
        </ul>
      </div>
    </div>
    <!--HEADER MAIN ENDS HERE-->
  </div>

  <div class="body" style="margin-top: 30rem">
    <app-slider
      *ngFor="let category of categories; index as i"
      [category]="category"
      [sliderConfig]="sliderConfig"
    ></app-slider>
  </div>
</div>
